<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
from six import string_types, text_type
from lms.djangoapps.courseware.courses import get_course_about_section
from openedx.core.djangolib.markup import HTML, Text
%>
<%block name="course_about_important_dates">
<ol class="important-dates">
  <li class="important-dates-item"><span class="icon fa fa-info-circle" aria-hidden="true"></span><p class="important-dates-item-title">${_("Course Number")}</p><span class="important-dates-item-text course-number">${course.display_number_with_default}</span></li>
  % if not course.start_date_is_still_default:
      <%
          course_start_date = course.advertised_start or course.start
      %>
    <li class="important-dates-item">
      <span class="icon fa fa-calendar" aria-hidden="true"></span>
      <p class="important-dates-item-title">${_("Classes Start")}</p>
      % if isinstance(course_start_date, string_types):
          <span class="important-dates-item-text start-date">${course_start_date}</span>
      % else:
          <%
             course_date_string = course_start_date.strftime('%Y-%m-%dT%H:%M:%S%z')
          %>
          <span class="important-dates-item-text start-date localized_datetime" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}"></span>
      % endif
    </li>
  % endif
    ## We plan to ditch end_date (which is not stored in course metadata),
    ## but for backwards compatibility, show about/end_date blob if it exists.
    % if course.end:
        <%
            course_end_date = course.end
        %>

    <li class="important-dates-item">
        <span class="icon fa fa-calendar" aria-hidden="true"></span>
        <p class="important-dates-item-title">${_("Classes End")}</p>
          % if isinstance(course_end_date, string_types):
              <span class="important-dates-item-text final-date">${course_end_date}</span>
          % else:
            <%
                course_date_string = course_end_date.strftime('%Y-%m-%dT%H:%M:%S%z')
            %>
            <span class="important-dates-item-text final-date localized_datetime" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}"></span>
          % endif
    </li>
    % endif

  % if get_course_about_section(request, course, "effort"):
    <li class="important-dates-item"><span class="icon fa fa-pencil" aria-hidden="true"></span><p class="important-dates-item-title">${_("Estimated Effort")}</p><span class="important-dates-item-text effort">${get_course_about_section(request, course, "effort")}</span></li>
  % endif

  ##<li class="important-dates-item"><span class="icon fa fa-clock-o" aria-hidden="true"></span><p class="important-dates-item-title">${_('Course Length')}</p><span class="important-dates-item-text course-length">${_('{number} weeks').format(number=15)}</span></li>

  %if course_price and (is_cosmetic_price_enabled):
    <li class="important-dates-item">
      <span class="icon fa fa-money" aria-hidden="true"></span>
      <p class="important-dates-item-title">${_("Price")}</p>
      <span class="important-dates-item-text">${course_price}</span>
    </li>
  %endif

  % if pre_requisite_courses:
  <% prc_target = reverse('about_course', args=[text_type(pre_requisite_courses[0]['key'])]) %>
  <li class="prerequisite-course important-dates-item">
    <span class="icon fa fa-list-ul" aria-hidden="true"></span>
    <p class="important-dates-item-title">${_("Prerequisites")}</p>
    ## Multiple pre-requisite courses are not supported on frontend that's why we are pulling first element
    <span class="important-dates-item-text pre-requisite"><a href="${prc_target}">${pre_requisite_courses[0]['display']}</a></span>
    <p class="tip">
    ${Text(_("You must successfully complete {link_start}{prc_display}{link_end} before you begin this course.")).format(
      link_start=HTML('<a href="{}">').format(prc_target),
      link_end=HTML('</a>'),
      prc_display=pre_requisite_courses[0]['display'],
    )}
    </p>
  </li>
  % endif

  % if get_course_about_section(request, course, "prerequisites"):
    <li class="important-dates-item"><span class="icon fa fa-book" aria-hidden="true"></span><p class="important-dates-item-title">${_("Requirements")}</p><span class="important-dates-item-text prerequisites">${get_course_about_section(request, course, "prerequisites")}</span></li>
  % endif
</ol>
</%block>
