## mako
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _

  from babel import Locale
  from openedx.core.djangoapps.lang_pref.api import released_languages
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%
  languages = configuration_helpers.get_value('released_languages', 'en').split(',')
%>
% if len(languages) > 1:
  <li class="nav-link lang mobile-nav-item">
    <form>
      <span class="sr">${_("Choose Language")}</span>
      <select class="form-control-sm settings-language-values" name="language">
        % for language in languages:
          <% language_name = Locale.parse(language.replace('_', '-'), sep='-').language_name.capitalize() %>
          % if language.lower() == LANGUAGE_CODE:
            <option value="${language}" selected="selected">${language_name}</option>
          % else:
            <option value="${language}" >${language_name}</option>
          % endif
        % endfor
      </select>
    </form>
  </li>
% endif
