<%
stats_settings = getattr(settings, 'STATS_SETTINGS', {})
%>

% if stats_settings.get('SHOW_HOME_CONTENT', False):
  <%
    tenant_stats = {
      f'show_{key.lower()}': 'false' if value else 'true'
      for key, value in stats_settings.get('HIDDEN_HOME_STATS', {}).items()
    }
  %>
  <div class="tenant-stats-container" >
    <%include file="tenant_stats.html" args="
      show_videos=tenant_stats.get('show_videos', 'true'),
      show_courses=tenant_stats.get('show_courses', 'true'),
      show_problems=tenant_stats.get('show_problems', 'true'),
      show_learners=tenant_stats.get('show_learners', 'true'),
      show_instructors=tenant_stats.get('show_instructors', 'true'),
      show_certificates=tenant_stats.get('show_certificates', 'true')"
    />
  </div>

% endif

% if getattr(settings, 'HOME_SHOW_COURSES_FEEDBACK', False):
  <div class="home-feedback-courses-container" >
    <%include file="feedback_courses.html"/>
  </div>
% endif
