// Simple Button
//************************************************************************//
// A bunch of extendable mixins to get the weird login buttons to work

%btn {
  @include button-size-edx(var(--pgn-spacing-btn-padding-y-base), var(--pgn-spacing-btn-padding-x-base), var(--pgn-typography-font-size-base), var(--pgn-size-border-radius-base));
  @include var-button-variant($btn-bg-primary, $btn-bg-primary,  $btn-bg-primary-hover-bg,
  $btn-bg-primary-hover-border,$btn-bg-primary-active-bg, $btn-bg-primary-active-border,
  $btn-bg-primary-yiq, $btn-bg-primary-custom-bg-gradient, $btn-bg-primary-bg-gradient);
  @include transition(var(--pgn-transition-btn));
  color: var(--pgn-color-btn-text-primary);
  display: inline-block;
  height: auto;
  font-weight: var(--pgn-typography-btn-font-weight);
  line-height: var(--pgn-typography-btn-line-height-base);
  text-align: center;
  text-shadow: none;
  text-decoration: none;
  vertical-align: middle;
  background-image: none;
  border: var(--pgn-size-input-btn-border-width) solid transparent;
  box-shadow: none;
  user-select: none;

  // Share hover and focus styles
  &:focus,
  &:hover,
  &:hover:not(:disabled) {
    @include var-button-variant($btn-bg-primary, $btn-bg-primary,  $btn-bg-primary-hover-bg,
    $btn-bg-primary-hover-border,$btn-bg-primary-active-bg, $btn-bg-primary-active-border,
    $btn-bg-primary-yiq, $btn-bg-primary-custom-bg-gradient, $btn-bg-primary-bg-gradient);
    text-decoration: none;
    outline: 0;
    background-image: none;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    @include box-shadow(none);
    cursor: $cursor-disabled;
    opacity: .65;
  }

  &:active,
  &.active {
    @include box-shadow($btn-focus-box-shadow, var(--pgn-elevation-btn-box-shadow-active));
    background-image: none;
  }
}

%btn-flat {
  @extend %btn;
  @include var-button-variant($btn-bg-primary-outline, $btn-bg-primary,  $btn-bg-primary-hover-bg,
  $btn-bg-primary-hover-border,$btn-bg-primary-active-bg, $btn-bg-primary-active-border,
  $btn-bg-primary, $btn-bg-primary-custom-bg-gradient, $btn-bg-primary-bg-gradient);
  border: var(--pgn-size-input-btn-border-width) solid $btn-primary-border;
  color: var(--pgn-color-btn-bg-primary);

  // Share hover and focus styles
  &:focus,
  &:hover,
  &:hover:not(:disabled) {
    @include var-button-variant($btn-bg-primary, $btn-bg-primary,  $btn-bg-primary-hover-bg,
    $btn-bg-primary-hover-border,$btn-bg-primary-active-bg, $btn-bg-primary-active-border,
    $btn-bg-primary-yiq, $btn-bg-primary-custom-bg-gradient, $btn-bg-primary-bg-gradient);
    border: var(--pgn-size-input-btn-border-width) solid $btn-primary-border;
    color: var(--pgn-color-btn-bg-primary);
  }
  
  &:disabled {
    border: var(--pgn-size-input-btn-border-width) solid $btn-primary-border;
    color: var(--pgn-color-btn-bg-primary);
  }
}

// selector damned for new post and reply buttons in discussion forum
%btn-forum {
  @extend %btn;
  border: none;
  height: auto;
  line-height: 1.5;

  .button-text {
    color: var(--pgn-color-white);
  }

  &:link,
  &:hover,
  &:active,
  &:focus {
    @extend %btn;
    border: none;
    height: auto;
    line-height: 1.5;
    color: var(--pgn-color-white);
  }

  &.btn-link:focus,
  &.btn-link:hover {
    background-color: $main-color !important;
  }
}


a.btn,
a:link.btn,
// button\,
button[type="submit"],
input[type="submit"],
input[type="button"],
.btn-outline-primary,
.view-teams .btn-secondary,
.view-teams .action-primary.action{
  @extend %btn;
}

.wrapper-downloads a.btn:hover:hover:link,
.view-teams .btn-secondary:hover:not(:disabled):hover {
  color: var(--pgn-color-btn-bg-primary);
}

a.btn-flat {
  @extend %btn-flat;
}

// # Login and register buttons
.header-global .nav-courseware li .btn,
.header-global .nav-courseware div .btn,
.view-survey .action-primary {
  @extend %btn;
}

.view-login,
.view-register,
.view-passwordreset,
.view-survey {
  .form-actions button[type="submit"] {
    @extend %btn;
  }
}

.login,
.register,
.passwordreset,
#forgot-password-modal #password-reset {
  .form-actions button[type="submit"] {
    @extend %btn;
  }

  // third party auth
  .form-actions.form-third-party-auth button[type="submit"] {
    @extend %btn-flat;
  }

  // go to login-register
  a.btn.login-register {
    @extend %btn-flat;
    display: block;
  }
}

// Dashboard
.search-bar {
  .search-button,
  .cancel-button {
    @extend %btn;

    &:hover {
      line-height: var(--pgn-typography-btn-line-height-base);
      padding: var(--pgn-spacing-btn-padding-y-base) var(--pgn-spacing-btn-padding-x-base);
    }
  }

  .cancel-button {
    display: none;
  }
}

.dashboard {

  .my-courses .course {
    .details .enter-course {
      @extend %btn;
    }

    .wrapper-messages-primary .message {
      &.message-upsell .action-upgrade {
        @extend %btn;
      }

      &.message-status.course-status-certavailable .actions-primary .action-certificate .btn {
        @extend %btn-flat;
      }
    }
  }

  .empty-dashboard-message a {
    @extend %btn;
  }

}

.search-results .search-load-next {
  @extend %btn;
  display: block;
}


// Courses
.find-courses .discovery-submit {
  @extend %btn;
}

.courses-container .courses .course .course-image .cover-image .learn-more {
  @extend %btn;
}

// Courseware

.xmodule_display.xmodule_CapaModule div.problem {

  .action button {
    @extend %btn;

    &.problem-action-btn {
      max-width: 180px !important; // trick for spanish text
      background-color: var(--pgn-color-btn-bg-primary);
    }
  }
}

.xblock {
  .btn-brand:not(:disabled), .xblock .btn-primary:not(:disabled) {
    color: $btn-bg-primary-yiq !important;
    background-color: $btn-bg-primary !important;
    border-color:$btn-bg-primary !important;
    &:focus,
    &:hover,
    &:hover:not(:disabled) {
      @include var-button-variant($btn-bg-primary, $btn-bg-primary,  $btn-bg-primary-hover-bg,
      $btn-bg-primary-hover-border,$btn-bg-primary-active-bg, $btn-bg-primary-active-border,
      $btn-bg-primary-yiq, $btn-bg-primary-custom-bg-gradient, $btn-bg-primary-bg-gradient);
      color: $btn-bg-primary-yiq !important;
      background-color:$btn-bg-primary-hover-bg !important;
      border-color:$btn-bg-primary-hover-border !important;
    }
  }

  .problem-action-btn, .bookmark-button {
    color: var(--pgn-color-btn-bg-primary) !important;
    &:hover, &:focus {
      color: $btn-bg-primary-hover-bg !important;
    }
  }
  .choicegroup input[type="checkbox"], .choicegroup input[type="radio"] {
    accent-color: $main-color;
  }
  .choicegroup input:hover+label,  .choicegroup input:hover+focus, .choicegroup input:focus+label{
    border: 2px solid $main-color !important;
  }
}

.courseware-bookmarks-button .bookmarks-list-button{
  @extend %btn-flat;
  padding: 5px 10px;
  font-size: 13px;
  line-height: 22px;
}

.discussion-module .discussion-show, .discussion-module .btn, .discussion-show.shown {
  @extend %btn-flat;

  &:focus,
  &:hover,
  &:hover:not(:disabled) {
    color: var(--pgn-color-btn-text-primary) !important;
    background-color: var(--pgn-color-btn-bg-primary) !important;
    border: var(--pgn-size-input-btn-border-width) solid $btn-primary-border !important;
  }
}

button#navmarker {
  @extend %btn-flat;
}
// settings
.account-settings-sections .section .account-settings-section-body .u-field .field button.u-field-link {
  @extend %btn-flat;
}

.account-settings-sections a.u-field-link span {
  color: var(--pgn-color-btn-text-primary);
}

// For the thread initiator only. TODO: get a discussion going and test the other buttons
.discussion .course-tabs .right,
.discussion-module,
.forum-new-post-form,
.discussion-submit-post {
  .new-post-btn,
  .control-button,
  .submit,
  .new-post-btn {
    @extend %btn-forum;
  }
}
.container,
.outside-app,
.wrapper-account-settings {
  .discussion-body,
  .discussion-module,
  .discussion-user-threads {
    .discussion-submit-post {
      @extend %btn-forum;
    }
  }
}
.discussion,
.discussion-module,
.discussion-user-threads {
  .comments .comment-form .discussion-submit-comment {
    @extend %btn-forum;
  }
}
.view-profile {
  .wrapper-profile-sections,
  .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy {
    .discussion-body,
    .discussion-module,
    .discussion-user-threads {
      .discussion-submit-post {
        @extend %btn-forum;
      }
    }
  }
}

// Search button in discussion tab

.discussion .forum-search .search-input {
  margin: 2px;
  padding: 0.4rem;
}

#expand-collapse-outline-all-button {
  @extend %btn;
}

.login-register .login-provider {
  width: 50%;
}
