// BASE VARIABLES
// =============================================

// // set defaoult bacgrounds in login, register and password restes pages
// $login-banner-image: '' !default;
// $register-banner-image: '' !default;
// $passwordreset-banner-image: '' !default;

$main-color: var(--pgn-color-primary-base);
$white: var(--pgn-color-white) !default;

$neat-grid: (
  columns: 12,
  gutter: 0,
);

// Navbar
$navbar-bg: var(--pgn-color-white) !default;
$navbar-zindex: 1100 !default;
$navbar__nav-login-color: var(--pgn-color-white) !default;
$navbar__nav-login-hover-color: var(--pgn-color-white) !default;
$navbar__nav-login-bg: $main-color;
$navbar__nav-login-hover-bg: var(--pgn-color-primary-300);
$navbar__nav-account-color: $main-color;
$navbar__nav-account-border: 1px solid $main-color;
$navbar__nav-toggler-color: $main-color;
$navbar__nav-toggler-hover-bg: rgba(0, 0, 0, 0.05);
$navbar__nav-link-color: $main-color;

//Links color
$link-color: var(--pgn-color-link-brand-base);
$link-hover-color: var(--pgn-color-link-brand-hover);

$font-family-base: var(--pgn-typography-font-family-base);
$headings-font-family: var(--pgn-typography-headings-font-family);

$h1-font-size: var(--pgn-typography-font-size-h1);
$h2-font-size: var(--pgn-typography-font-size-h2);
$h3-font-size: var(--pgn-typography-font-size-h3);
$h4-font-size: var(--pgn-typography-font-size-h4);
$h5-font-size: var(--pgn-typography-font-size-h5);
$h6-font-size: var(--pgn-typography-font-size-h6);

// Home
$home-header__title-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !default;

// Course
$course-header__title-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !default;

$course-component__item-more-color: var(--pgn-color-white) !default;
$course-component__item-more-bg: $main-color !default;
$course-component__item-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
  0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12) !default;
$course-component__item-shadow--hover: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2) !default;

$course-component__item-more__span-color: var(--pgn-color-white) !default;
$course-component__item-more__span-border: var(--pgn-color-white) !default;

// Footer
$footer-bg: var(--pgn-color-white) !default;
$footer-zindex: 1100 !default;

// extension vars
$extend-intro-banner-background-color: var(--pgn-color-primary-alpha) !default;
$course-info-course-context-bg: $extend-intro-banner-background-color;

// buttons
$btn-bg-primary: var(--pgn-color-btn-bg-primary);
$btn-bg-primary-hover-bg: var(--pgn-color-btn-hover-bg-primary);
$btn-bg-primary-hover-border: var(--pgn-color-btn-hover-border-outline-primary);
$btn-bg-primary-active-bg: var(--pgn-color-btn-active-bg-primary);
$btn-bg-primary-active-border: var(--pgn-color-btn-active-border-outline-primary);
$btn-bg-primary-yiq: var(--pgn-color-btn-hover-text-primary);
$btn-bg-primary-custom-bg-gradient: var(--pgn-color-btn-bg-primary-custom-bg-gradient);
$btn-bg-primary-bg-gradient: var(--pgn-color-btn-bg-primary-bg-gradient);
$btn-bg-primary-outline: var(--pgn-color-white);
