<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900" rel="stylesheet">
<input onclick="toggleHelpWidget('display')" style="z-index:9999; position: absolute;top: 8%;right: 0px;width: 60px;height: 60px;" title="edunext" type="image" id="ednx-help-widget-tab" alt="Help" src="https://edunextpublic.s3-us-west-2.amazonaws.com/resources/images/help-widget-tab.png">
<div id="ednx-help-widget-wrapper" class="ednx-help-widget-wrapper" style="display: none; animation: none; max-width: 250px; z-index: 9999; min-width: 0; min-height: 100vh; position: absolute; top: 0; right: 0; background: url(https://edunextpublic.s3-us-west-2.amazonaws.com/resources/images/help-widget-background.png), #05093b; background-size: 100%; background-repeat: no-repeat;">
    <span onclick="toggleHelpWidget('hide')" style="color: #f1f2f3; font-size: 32px; margin: 30px 10% 0 0; float: right; cursor: pointer;">&#9421;</span>
    <div class="ednx-help-widget-content" style="margin: 60% 20px 0 20px; color: #f1f2f3;">
        <div class="ednx-widget-section" style="display: flex; flex-flow: column; justify-content: center;">
            <img style="align-self: center;width: 80%; margin: -20px;" src="https://d1uwn6yupg8lfo.cloudfront.net/logos/21/darkbg/logo-edunext-01.png"></img>
        </div>

        <div class="ednx-widget-section" style="display: flex; flex-flow: column; justify-content: center;">
            <hr>
            <h1 style="margin: 0; color: #f1f2f3; align-self: center;font-weight: bold !important; font-size: 18pt;font-family: 'Poppins', sans-serif !important;"> Looking for help? </h1>
            <ul style=" margin: 0; padding-left: 20px">
                <li style="list-style-image: url('https://edunextpublic.s3-us-west-2.amazonaws.com/resources/images/help-widget-list-marker-small.png'); font-family: 'Poppins', sans-serif; font-weight: bold !important; font-size: 10pt; margin: 15px 0;">Check out the <a href="https://docs.edunext.co/en/public/external/index.html#manage-running-courses" target="_blank" style="color:#00d47d;">edunext documentation</a></li>
                <li style="list-style-image: url('https://edunextpublic.s3-us-west-2.amazonaws.com/resources/images/help-widget-list-marker-small.png'); font-family: 'Poppins', sans-serif; font-weight: bold !important; font-size: 10pt; margin: 15px 0;">Explore our <a href="https://www.edunext.co/manage/getting-started/" target="_blank" style="color:#00d47d;">getting started video guide</a></li>
                <li style="list-style-image: url('https://edunextpublic.s3-us-west-2.amazonaws.com/resources/images/help-widget-list-marker-small.png'); font-family: 'Poppins', sans-serif; font-weight: bold !important; font-size: 10pt; margin: 15px 0;">Visit our <a href="https://support.edunext.co/" target="_blank" style="color:#00d47d;">support center</a></li>
            </ul>
        </div>
        <div class="ednx-widget-section" style="display: flex; flex-flow: column; justify-content: center;">
            <hr>
            <h1 style="margin: 0; color: #f1f2f3; align-self: center;font-weight: bold !important; font-size: 18pt;font-family: 'Poppins', sans-serif !important;">Want to manage your LMS site?</h1>
            <ul style="margin: 0; padding-left: 20px">
                <li style="list-style-image: url('https://edunextpublic.s3-us-west-2.amazonaws.com/resources/images/help-widget-list-marker-small.png'); font-family: 'Poppins', sans-serif; font-weight: bold !important; font-size: 10pt; margin: 15px 0;">Go to the <a href="https://manage.edunext.co/" target="_blank" style="color:#00d47d;">EMC Console</a></li>
            </ul>
        </div>
        <div class="ednx-widget-section" style="display: flex; flex-flow: column; justify-content: center;">
            <hr>
            <h1 style="margin: 0; color: #f1f2f3; align-self: center;font-weight: bold !important; font-size: 18pt;font-family: 'Poppins', sans-serif !important;">Want to create or edit courses?</h1>
            <ul style="margin: 0; padding-left: 20px">
                <li style="list-style-image: url('https://edunextpublic.s3-us-west-2.amazonaws.com/resources/images/help-widget-list-marker-small.png'); font-family: 'Poppins', sans-serif; font-weight: bold !important; font-size: 10pt; margin: 15px 0;">Go to the <a href="https://studio.edunext.co/" target="_blank" style="color:#00d47d;">STUDIO authoring platform</a></li>
            </ul>
        </div>
        <div class="ednx-widget-section" style="display: flex; flex-flow: column; justify-content: center;">
            <hr>
            <div style="font-size: 8pt; font-family: 'Poppins', sans-serif !important"; line-height: 1em>
                <p>
                eduNEXT is a company that provides online learning technologies powered by
                the Open edX® platform. These technologies enable the authoring,
                publication, and operation of online courses to a wide
                audience, communication, and collaboration tools for learners
                and instructors, and management tools for administrators.
                </p>
                <p>
                edX and Open edX are registered trademarks of edX inc. The Open edX platform
                is available to the world as open-source through the GNU Affero license.
                eduNEXT is not endorsed, sponsored, or directly affiliated with edX inc, or
                Open edX.
                </p>
                <p>
                Your use of this eduNEXT cloud subscription is bound by our <a href="https://www.edunext.co/terms-of-use/" style="color:#00d47d;">terms of service</a>, and <a href="https://www.edunext.co/privacy/" style="color:#00d47d;">privacy policy</a>
                Copyright © 2021 eduNEXT, All rights reserved.<br>
                </p>
            </div>
            <div class="ednx-button-container" style="display:flex; justify-content: center; margin: 14px">
                <a href="https://www.edunext.co/" target="_blank">
                    <button class="button" type="button" style="all: unset;cursor: pointer; color: #EEEEEE;font-family: 'Poppins', sans-serif;margin: 15px auto;font-weight: bolder; padding: 18px 25px;border: none;border-radius: 500px;background-color: #00d47d;" >edunext.co</button>
                </a>
            </div>
        </div>
    </div>
</div>
