<%! 
	from django.urls import reverse
	from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>

<%
  static_about_html = theming.options('static','static_about_html', default= ' ')
%>

<%block name="title"><title>${theming.options('static', 'static_about_title', default=_('About'))}</title></%block>

<section class="content-container p-5">
  <div class="row static_page container p-4">
    ${static_about_html | n,  decode.utf8}
  </div>
</section>
